html {
	background-color: #fff;
}

#item {
	background-color: #fff;
	color: #191814;
	font-size: 75%;
	font-family: SimSun, Tahoma, Arial, Helvetica, sans-serif;
	min-width: 990px;
	line-height: 1.5;
}

#item #item-box {
	width: 960px;
	margin: 0 auto;
}

#item #content {
	width: 100%;
	margin-top: 20px;
	padding: 0;
}

#item #viewer {
	height: 360px;
}

#item #gallery {
	float: left;
	width: 310px;
	height: 360px;
}

#gallery .booth {
	width: 310px;
	height: 310px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	display: block;
	position: relative;
	z-index: 1;
	border: 1px solid #E6E6E6;
}

#gallery .booth .pic {
	max-height: 310px;
	max-width: 310px;
	outline: none;
	cursor: move;
}

#lens {
	display: none;
	position: absolute;
	width: 23px;
	height: 23px;
	z-index: 999;
}

#gallery .thumbs {
	margin: 8px 0 0 0;
	overflow: hidden;
}

#gallery .thumbs li {
	float: left;
	margin: 0 6px 0 0;
	width: 40px;
	height: 40px;
	border: 1px solid #CDCDCD;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	background: none;
}

#gallery .thumbs li.selected {
	border: 1px solid #DD624B;
}

#gallery .thumb {
	max-width: 40px;
	max-height: 40px;
	outline: none;
	cursor: pointer;
}

#attributes ul::after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: " 0020";
}

#attributes ul {
	zoom: 1;
}

#attributes .attributes-list {
	clear: both;
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid #E6E6E6;
	background-color: #F6F6F6;
}

#attributes .attributes-list li {
	display: inline;
	float: left;
	width: 206px;
	height: 24px;
	overflow: hidden;
	margin-right: 20px;
	text-indent: 5px;
	line-height: 24px;
	color: #404040;
	font-family: SimSun, Tahoma, Arial, Helvetica, sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#item #magnified {
	display: none;
	z-index: 9999;
	border: 1px solid #CDCDCD;
	margin-left: 10px;
	width: 638px;
	height: 358px;
	overflow: hidden;
	background: transparent;
	position: absolute;
}

#item #magnified img {
	position: relative;
}

#item #help {
	float: left;
	border: 1px solid #E6E6E6;
	margin-left: 10px;
	width: 638px;
	height: 358px;
}

#help p {
	margin: 12px 0 12px 60px;
	font-size: 14px;
	font-weight: normal;
	font-family: "微软雅黑", SimSun, Tahoma, Arial, Helvetica, sans-serif;
}

#help ol {
	list-style-type: decimal;
	margin-left: 30px;
	font-size: 14px;
	font-weight: normal;
	font-family: "微软雅黑", SimSun, Tahoma, Arial, Helvetica, sans-serif;
}

#help ol li {
	margin: 10px 0 10px 80px;
}

#help p.first-para {
	margin-left: 30px;
}

#help p.rating-para {
	margin: 20px auto;
	text-align: center;
	display: none;
}

#help p.count-para {
	margin: 20px auto;
	text-align: center;
	display: none;
}

span.username {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	text-transform: capitalize;
}

span.smiley {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	margin-left: 5px;
}

span.rating-count {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	margin: 0 5px 0 5px;
}

#logout {
	text-align: right;
	margin: 0 5px 5px 0;
}

.star-rating{/*这里是空分层，用来显示空星星*/
	display: none;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 150px;
	height: 30px;
	position: relative;
	background: url(../img/stars.gif) top left repeat-x;/*空星星位于背景图片的顶层，将其设为背景并横向平铺*/
}
.star-rating li{/*设置li的浮动属性*/
	padding: 0;
	margin: 0;
	/*\*/
	float: left;
	/* */
}
.star-rating li a{/*设置a的布局为绝对布局和垂直坐标并隐藏a中文本使其成为空链接*/
	display: block;
	width: 30px;
	height: 30px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0;
}
.star-rating li a:hover{/*设置a:hover的背景图片为打分星/垂直坐标/left为0,注意垂直坐标一定要小于a的垂直坐标*/
	background: url(../img/stars.gif) left center;
	z-index: 2;
	left: 0;
}

/*以下5个class用来设置5个链接的位置和hover的宽度*/
.star-rating a.one-star{
	left: 0;
}
.star-rating a.one-star:hover{
	width: 30px;
}
.star-rating a.two-stars{
	left: 30px;
}
.star-rating a.two-stars:hover{
	width: 60px;
}
.star-rating a.three-stars{
	left: 60px;
}
.star-rating a.three-stars:hover{
	width: 90px;
}
.star-rating a.four-stars{
	left: 90px;
}
.star-rating a.four-stars:hover{
	width: 120px;
}
.star-rating a.five-stars{
	left: 120px;
}
.star-rating a.five-stars:hover{
	width: 150px;
}

.star-rating li.current-rating{/*设置分数层的背景和宽度并隐藏文本*/
	background: url(../img/stars.gif) left bottom;
	position: absolute;
	height: 30px;
	width: 0;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}