html {
	background-color: #fff;
}

#login {
	background-color: #fff;
	color: #191814;
	font-size: 75%;
	font-family: SimSun, Tahoma, Arial, Helvetica, sans-serif;
	min-width: 990px;
	line-height: 1.5;
}

input {
	width: 95%;
	border-width: 1px;
	border-style: solid;
	border-color: #B4B4B4 #FEFEFE #FEFEFE #B4B4B4;
	background-color: #F0F0F0;
	outline: none;
	-moz-outline: none;
}

fieldset {
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #EEE;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #191814;
	clear: both;
}

form label {
	color: #191814;
	margin: 15px 0 2px 0;
	display: block;
	font-size: 18px;
	font-weight: normal;
	font-family: "微软雅黑", SimSun, Tahoma, Arial, Helvetica, sans-serif;
}

#login #content, #login #login-form-wrap fieldset {
	background: transparent;
	border: 0;
}

#login input {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

#login #login-box {
	width: 960px;
	margin: 0 auto;
}

#login #content {
	width: 100%;
	margin-top: 120px;
	padding: 0;
	min-height: 430px;
	background: url(../img/tuzki.png) top left no-repeat;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: relative;
	overflow: visible;
}

#login #login-form-wrap {
	float: right;
	margin: 25px 10px 0 0;
	width: 460px;
}

#login #login-form-wrap h1 {
	background: url(../img/logo-light.png) 0 0 no-repeat;
	width: 150px;
	height: 70px;
	margin: 0;
	text-indent: -9999px;
}

#login #flash-block {
	margin-top: 10px;
	background: transparent none;
	color: #DD624B;
	font-size: 14px;
	font-weight: normal;
	font-family: "微软雅黑", SimSun, Tahoma, Arial, Helvetica, sans-serif;
}

#login-form fieldset legend {
	display: none;
}

#username, #password {
	padding: 11px 5px 11px 8px;
	background-color: #FBFBFB;
	border: 1px solid #191814;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 440px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	font-size: 2.5em;
	position: relative;
	z-index: 2;
	text-transform: uppercase;
	ime-mode: disabled;
}

#login .button {
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	font-style: normal;
	cursor: pointer;
	border: 0;
	vertical-align: top;
	letter-spacing: 0.3px;
	-webkit-transition: opacity .2s;
	background: url(../img/btn_overlay.png) repeat-x 0 50%;
}

#login #submit {
	color: white !important;
	border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
	text-shadow: none;
	background-color: #DD624B;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 0 #a9422e, 0px -1px 0 #a9422e;
	-moz-box-shadow: 0px 1px 0 #a9422e, 0px -1px 0 #a9422e;
	box-shadow: 0px 1px 0 #a9422e, 0px -1px 0 #a9422e;
	width: auto !important;
	height: auto !important;
	padding: 15px 55px !important;
	line-height: 16px;
	font-weight: normal;
	font-family: "微软雅黑", SimSun, Tahoma, Arial, Helvetica, sans-serif;
	letter-spacing: 5px;
	margin: 25px 0 15px 0;
	display: block;
	font-size: 20px;
}

.hint {
	float: right;
	color: #999;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	margin-top: 8px;
	margin-right: 8px;
}